@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: #2E2E2E;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #D62340;
  border-radius: 10px 0 10px 0;
}

body {
  background: #FAFAFA;
}

@keyframes horizontalBounce {
  from {
    transform: translateX(-4px);
  }
  to {
    transform: translateX(4px);
  }
}

.animate-bounce-x {
  animation: horizontalBounce 500ms alternate infinite ease-out;
}

@keyframes BladeR {
  from {
    transform: scaleX(-1) translateX(-15px);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes BladeL {
  from {
    transform: scaleX(-1) translateX(15px);
  }
  to {
    transform: scaleX(1);
  }
}

.animate-blade-r {
  animation: BladeR 1000ms linear alternate infinite;
}

.animate-blade-l {
  animation: BladeL 1000ms linear alternate infinite;
  animation-delay: 300ms;
}

@keyframes shake {
  0% { transform: translateX(0) rotate(0deg); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(2px) rotate(8deg); }
  75% { transform: translateX(-2px); }
  100% { transform: translateX(0); }
}

.notice-me {
  display: block;
  animation: shake 4s ease-in-out infinite;
}
