@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  scroll-behavior: smooth;
}

body {
  background: #FAFAFA;
}

@keyframes horizontalBounce {
  from {
    transform: translateX(-4px);
  }
  to {
    transform: translateX(4px);
  }
}

.animate-bounce-x {
  animation: horizontalBounce 500ms alternate infinite ease-out;
}